body{
    font-family: 'Quattrocento Sans', sans-serif;
}

.recipeTitle{
    margin: 20px;
    float: left;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 26px;
}

.modal {
    position: fixed;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding-right: 20px;
    display: block;
}

.someDiv {
  position: absolute;
  z-index: 1041;
}

.modal-transparent {
  background: transparent;
}
.modal-transparent .modal-content {
  background: white;
}

.modal-backdrop.modal-backdrop-transparent {
  background: skyblue;
}
.modal-backdrop.modal-backdrop-transparent.in {
  opacity: .9;
  filter: alpha(opacity=90);
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

ul{
  margin-left:0px;
  padding-left: 0px;
    
}

.centerNow{
  text-align: center;
  margin-top: 2%;
}

.modal-container {
    position: relative;
}

.modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
    
}

.box {
	max-width: 700px;
    max-height: 700px;
	margin: 0 auto;
	background: $color-white;
	/* box 10 
     * form-bg 15
	 */
	z-index: 10;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);	
    width: 355px; 
    padding: 10px 0px 25px 0px;
    text-align: center;
	float: left; 
    margin: 0 7px 17px 7px;
    word-wrap: break-word;
    border-radius: 15px;
}

/* 
#parent > div {
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    transition: opacity .5s;
}

/* 
#parent:hover > .box {
  opacity:0.6;
}

#parent > div {
   opacity:1;
}

*/

#dark {
    -webkit-filter: brightness(100%);
	-moz-filter: brightness(100%);
	-o-filter: brightness(100%);
	-ms-filter: brightness(100%);
	filter: brightness(100%);
}

#dark:hover{
    -webkit-filter: brightness(75%);
	-moz-filter: brightness(75%);
	-o-filter: brightness(75%);
	-ms-filter: brightness(75%);
	filter: brightness(75%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.pageHeader {
	background: $color-primary;
	color: $color-white;
	padding: 1em;
	margin-bottom: 1em;	
}

.addButton {
    float: right;
}

.btn-info{
    color: #000000 !important;
    background: #FFFFFF !important;
    cursor:pointer;
    font-size:1.07em !important;
    margin: 10px;
    outline: none;
    font-weight: 400 !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    width: 230px;
    font-family: 'Quattrocento Sans', sans-serif;
    border-radius: 24px !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);	
}

.btn-primary{
    color: #000000 !important;
    background: #FFFFFF !important;
    cursor:pointer;
    font-size:1.07em !important;
    margin: 10px;
    outline: none;
    font-weight: 400 !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    width: auto;
    font-family: 'Quattrocento Sans', sans-serif;
    border-radius: 24px !important;
}

.btn-danger{
    color: #000000 !important;
    background: #FFFFFF !important;
    cursor:pointer;
    font-size:1.07em !important;
    margin: 10px;
    outline: none;
    font-weight: 400 !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    width: auto;
    font-family: 'Quattrocento Sans', sans-serif;
    border-radius: 24px !important;
}

.btn-success{
    color: #000000 !important;
    background: #FFFFFF !important;
    cursor:pointer;
    font-size:1.07em !important;
    margin: 10px;
    outline: none;
    font-weight: 400 !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    width: auto;
    font-family: 'Quattrocento Sans', sans-serif;
    border-radius: 24px !important;
}

.btn{
    color: #FFFFFF;
    cursor:pointer;
    font-size:1em;
    margin: 5px;
    outline: none;
    white-space: normal;
}



.wrapButton{
    margin-top: 27%;
    width: 350px;
    padding: 10px 10px 10px 10px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis !important;
    -o-text-overflow: ellipsis;
}

.labelGap{
    margin-top: 4%;
}

.modalTitle{
    overflow-y: auto;
}

img{
    max-width: 280px;
    max-height: 280px;
    border-radius: 10px;
    box-shadow: 6px 2px 8px 0 rgba(0,0,0,0.16), 1px 7px 10px 0 rgba(0,0,0,0.2);	
}

.adjustModal{
    max-width: 400px !important;
    max-height: 400px !important;
}

.cross{
    width: 17px !important;
    height: 17px !important;
    background: none;
}

.cross:hover{
    background: #8B0000;
    cursor:pointer;
}

.divCross{
    margin-bottom: 8%;
    padding-bottom: 20px;
}

.containerCross{
    width: 350px;
    margin-left: 152px;
}

.lowGap{
    width: 350px;
    margin-bottom: 15%;
}

.modalIMG{
    text-align: center;
    vertical-align: middle;
    margin: 5% 0% 7.5% 0%;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.card-appear {
  opacity: 0.01;
}

.card-appear.card-appear-active {
  opacity: 1;
  transition: opacity 1.25s ease-in;
}

.card-enter {
  opacity: 0.01;
}

.card-enter.card-enter-active {
  opacity: 1;
  transition: opacity 1100ms ease-in;
}

.card-leave {
  opacity: 1;
}

.card-leave.card-leave-active {
  opacity: 0.01;
  transition: opacity 800ms ease-in;
}



