body{
    font-family: 'PT Sans', sans-serif;
}

.recipeTitle{
    margin: 20px;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
}

.modal {
    position: fixed;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding-right: 20px;
    display: block;
}

.someDiv {
  position: absolute;
  z-index: 1041;
}

.modal-transparent {
  background: transparent;
}
.modal-transparent .modal-content {
  background: white;
}

.modal-backdrop.modal-backdrop-transparent {
  background: skyblue;
}
.modal-backdrop.modal-backdrop-transparent.in {
  opacity: .9;
  filter: alpha(opacity=90);
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

ul{
  margin-left:0px;
  padding-left: 0px;
    
}

.centerNow{
  text-align: center;
  margin-top: 2%;
}

.modal-container {
    position: relative;
}

.modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
    
}

